{% extends 'base.html'%}

{% block content %}

<center>
<h1>Contact me!</h1>
<form action="/contact" method="POST" onSubmit="alert('Your DATA is succesfully submited!')">
    {% csrf_token %}
    <p>Your Name</p> <input type="text" name="name">
    <p>Your Email</p> <input type="text" name="email">
    <p>Your Phone Number</p> <input type="text" name="phone">
    <p>Gender</p> <input type="text" name="Gender">
    <br/>
    <br/>
    <input type="submit" value="submit">
</form>
</center>
{% endblock %}